[defaults]
inventory         = ./inventory/hosts.ini
roles_path        = ./roles
host_key_checking = False
remote_user       = admn
forks             = 5
log_path          = ./ansible.log

[privilege_escalation]
become        = false
become_method = sudo
become_user   = root
become_ask_pass = false

[ssh_connection]
private_key_file  = ~/.ssh/lamah
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
