# Default bashrc for root
{% if rootpromptcolor == "red" %}
export PS1="\[\e[0;31m\][\u@\h \W]\$ \[\e[m\]"
{% elif rootpromptcolor == "blue" %}
export PS1="\[\e[0;34m\][\u@\h \W]\$ \[\e[m\]"
{% else %}
export PS1="[\u@\h \W]\$ "
{% endif %}
